/* =============== E:/Work/src/v04/.css ==============*/

body {
    font-family: monospace;

}

.wnd-full {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: #fff;
}

.wnd-full .top {
    background-color: #3e71f9;
    color: #fff;
    padding: 10px 20px;
    display: flex;
}
.wnd-full .top .big{
    font-size: 2em;
}


.wnd-full .list {
    overflow: auto;
    height: 100%;
}
.wnd-full .list .buffer {
    height: 130px;
}
.wnd-full .list .item {
    border-bottom: 1px solid #aaa;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}
.wnd-full .list .item * {
    margin-right: 6px;
}
.wnd-full .list .item *:last-child {
    margin-right: 0;
}

.btn {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: none;
    background-color: #3e71f9;
    color: #fff;
    box-shadow: 0 5px 5px -2px #3e71f9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-btn {
    bottom: 10px;
    position: fixed;
    left: 50%;
    transform: translateX( -50% );
}
.back-btn {
    bottom: 10px;
    position: fixed;
    right: 10px;
}
.list-btn {
    font-size: 1.1em;
    bottom: 10px;
    position: fixed;
    right: 60px;
}


.wnd_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    z-index: 110;
    border: 1px solid #aaa;
    background-color: #fff;
    box-shadow: 0 5px 5px -2px #aaa;
    padding: 10px;
    text-align: right;
    width: 300px;
}

.wnd_modal input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #aaa;
    margin-bottom: 5px;
    border-radius: 4px;
}

.wnd_modal button {
    padding: 10px 20px;
    border: 1px solid #aaa;
}

.sign-out {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 11;
    font-size: 1.2em;
    padding-left: 10px;
}
/* =============== E:/Work/src/module/css/greed.css ==============*/
* {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.c {
    display: flex;
    align-items: center;
    justify-content: center;
}
.x {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.y {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
.row > .e {
    margin-left: auto;
}
.col > .e {
    margin-top: auto;
}

.px {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX( -50% );
}
.py {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY( -50% );
}
.pc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX( -50% );
    transform: translateY( -50% );
}

.rs {
    flex-grow: 1;
}
.fx {
    flex-shrink: 0;
}

.my {
    height: 100%;
}
.mx {
    width: 100%;
}

.mvh,
.mvy {
    height: 100vh;
}
.mvw,
.mvx {
    width: 100vw;
}

.psa {
    position: absolute;
}

.br {
    border: 1px solid red;
}
/* =============== E:/Work/src/v04/wnd/price_list.jss ==============*/
.price-list {
    z-index: 11;
}

.price-list .price {
    width: 60px;
    text-align: right;
}

.price-list .name,
.price-list .price {
    border: none;
}
/* =============== E:/Work/src/v04/wnd/change_month.jss ==============*/
.month_item {
    border-radius: 4px;

}

.month_item .list {
    border: 1px solid #aaa;
}
.month_item .item {
    padding: 10px 10px;
    border-top: 1px solid #aaa;
}
.month_item .item:first-child {
    border-top: none;
}
/* =============== E:/Work/src/v04/wnd/load.jss ==============*/
.load {
    z-index: 30;
}
/* =============== E:/Work/src/v04/wnd/nds.jss ==============*/
.nds {
    z-index: 9;
}

.nds .item-btn {
    font-size: 12px;
    background-color: #3e71f9;
    color: #fff;
    border: 1px solid #799dfb;
    border-radius: 50%;
    box-shadow: 0 5px 5px -2px #3e71f9;
    padding: 5px 10px;
    display: block;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nds .size {
    width: 40px;
    text-align: right;
    border: none;
}
.nds .date {
    display: flex;
    flex-direction: column;
}
.nds .date span {
    text-align: right;
    color: #ccc;
    font-size: 10px;
}
.nds .total {
    width: 60px;
    text-align: right;
}
.nds .month {
    text-align: center;
    flex-grow: 1;
}
/* =============== E:/Work/src/v04/wnd/nd.jss ==============*/
.nd {
    z-index: 9;
}

.nd .item-btn {
    font-size: 12px;
    background-color: #3e71f9;
    color: #fff;
    border: 1px solid #799dfb;
    border-radius: 50%;
    box-shadow: 0 5px 5px -2px #3e71f9;
    padding: 5px 10px;
    display: block;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nd .count {
    width: 50px;
    text-align: right;
    border: none;
}
/* =============== E:/Work/src/v04/wnd/login.jss ==============*/
.login {
    z-index: 20;
}

.login input {
    padding: 10px 20px;
    border: 1px solid #aaa;
    margin-bottom: 4px;
}
.login button {
    padding: 10px 20px;
    border: 1px solid #aaa;
    margin-bottom: 4px;
}
